.page_head {
    min-height: 158px !important;
}
.navbar {
    background: #16A9EF;
}

.navbar-nav>li>.dropdown-menu {
    padding: inherit;   
}

.navbar-nav {
/*    font: 15px arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;    */   
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: black;
    background-color: #16A9EF;
}

.navbar-default .navbar-nav>li>a {
    color: #ffffff;   
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #ffffff;   
    background-color: #98CD23;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
    color: #ffffff;   
/*    background-color: #98CD23;*/
background-color: #1484C7;
}

.dropdown-submenu-2>li>a {
    color: #ffffff;   
    background-color: #1484c7;  
}

.dropdown-submenu-2>li>a:hover, .dropdown-submenu-2>li>a:focus {
    color: #ffffff;   
    background-color: #98CD23;  
}

.dropdown-menu {
    background-color: #1484c7;
}


.dropdown-menu>li>a{
    color: #ffffff;   
   /* background-color: #98CD23; */  
    border-bottom: 2px rgba(0,0,0,0.5) solid;
    text-transform: capitalize;    
/*    padding: 10px 20px;*/
    padding: 4px 20px;
    border-top: 0px;
}    

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    color: #ffffff;   
    background-color: #98CD23;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
    padding: inherit;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block; 
    
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.navbar-fixed-top {
    border-width: 0 0 1px;
    top: 15% !important;
}




/* 8888888888888888888888888888888888888888888888888888888888888888888888888888888888888888888   */

/* font Awesome http://fontawesome.io*/
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
/* Animation.css*/
@import url(https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css);

.col-item {
  border: 1px solid #E1E1E1;
  background: #FFF;
  margin-bottom:12px;
}
.col-item .options {
  position:absolute;
  top:6px;
  right:22px;
}
.col-item .photo {
  overflow: hidden;
}
.col-item .photo .options {
  display:none;
}
.col-item .photo img {
  margin: 0 auto;
  width: 100%;
}

.col-item .options-cart {
  position:absolute;
  left:22px;
  top:6px;
  display:none;
}
.col-item .photo:hover .options,
.col-item .photo:hover .options-cart {
  display:block;
  -webkit-animation: fadeIn .5s ease;
  -moz-animation: fadeIn .5s ease;
  -ms-animation: fadeIn .5s ease;
  -o-animation: fadeIn .5s ease;
  animation: fadeIn .5s ease;
}
.col-item .options-cart-round {
  position:absolute;
  left:42%;
  top:22%;
  display:none;
}
.col-item .options-cart-round button {
  border-radius: 50%;
  padding:14px 16px;
  
}
.col-item .options-cart-round button .fa {
  font-size:22px;
}
.col-item .photo:hover .options-cart-round {
  display:block;
  -webkit-animation: fadeInDown .5s ease;
  -moz-animation: fadeInDown .5s ease;
  -ms-animation: fadeInDown .5s ease;
  -o-animation: fadeInDown .5s ease;
  animation: fadeInDown .5s ease;
}
.col-item .info {
  padding: 10px;
  margin-top: 1px;
}
.col-item .price-details {
  width: 100%;
  margin-top: 5px;
}
.col-item .price-details h1 {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  float:left;
}
.col-item .price-details .details {
  margin-bottom: 0px;
  font-size:12px;
}
.col-item .price-details span {
  float:right;
}
.col-item .price-details .price-new {
  font-size:16px;
}
.col-item .price-details .price-old {
  font-size:18px;
  text-decoration:line-through;
}
.col-item .separator {
  border-top: 1px solid #E1E1E1;
}

.col-item .clear-left {
  clear: left;
}
.col-item .separator a {
  text-decoration:none;
}
.col-item .separator p {
  margin-bottom: 0;
  margin-top: 6px;
  text-align: center;
}

.col-item .separator p i {
  margin-right: 5px;
}
.col-item .btn-add {
  width: 60%;
  float: left;
}
.col-item .btn-add a {
  display:inline-block !important;
}
.col-item .btn-add {
  border-right: 1px solid #E1E1E1;
}
.col-item .btn-details {
  width: 40%;
  float: left;
  padding-left: 10px;
}
.col-item .btn-details a {
  display:inline-block !important;
}
.col-item .btn-details a:first-child {
  margin-right:12px;
}

.dataframe{
  width:100%;
  height:1200px;
  border:2px;
}




                .preview {
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-box-orient: vertical;
                  -webkit-box-direction: normal;
                  -webkit-flex-direction: column;
                      -ms-flex-direction: column;
                          flex-direction: column; }
                  @media screen and (max-width: 996px) {
                    .preview {
                      margin-bottom: 20px; } }

                .preview-pic {
                  -webkit-box-flex: 1;
                  -webkit-flex-grow: 1;
                      -ms-flex-positive: 1;
                          flex-grow: 1; }

                .preview-thumbnail.nav-tabs {
                  border: none;
                  margin-top: 15px; }
                  .preview-thumbnail.nav-tabs li {
                    width: 18%;
                    margin-right: 2.5%; }
                    .preview-thumbnail.nav-tabs li img {
                      max-width: 100%;
                      display: block; }
                    .preview-thumbnail.nav-tabs li a {
                      padding: 0;
                      margin: 0; }
                    .preview-thumbnail.nav-tabs li:last-of-type {
                      margin-right: 0; }

                .tab-content {
                  overflow: hidden; }
                  .tab-content img {
                    width: 100%;
                    -webkit-animation-name: opacity;
                            animation-name: opacity;
                    -webkit-animation-duration: .3s;
                            animation-duration: .3s; }

                .card {
                  margin-top: 50px;
                  background: #eee;
                  padding: 0em;
                  line-height: 1.5em; }

                @media screen and (min-width: 997px) {
                  .wrapper {
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex; } }

                .details {
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-box-orient: vertical;
                  -webkit-box-direction: normal;
                  -webkit-flex-direction: column;
                      -ms-flex-direction: column;
                          flex-direction: column; }

                .colors {
                  -webkit-box-flex: 1;
                  -webkit-flex-grow: 1;
                      -ms-flex-positive: 1;
                          flex-grow: 1; }

                .product-title, .price, .sizes, .colors {
                  text-transform: UPPERCASE;
                  font-weight: bold; }

                .checked, .price span {
                  color: #ff9f1a; }

                .product-title, .rating, .product-description, .price, .vote, .sizes {
                  margin-bottom: 15px; }

                .product-title {
                  margin-top: 0; }

                .size {
                  margin-right: 10px; }
                  .size:first-of-type {
                    margin-left: 40px; }

                .color {
                  display: inline-block;
                  vertical-align: middle;
                  margin-right: 10px;
                  height: 2em;
                  width: 2em;
                  border-radius: 2px; }
                  .color:first-of-type {
                    margin-left: 20px; }

                .add-to-cart, .like {
                  background: #ff9f1a;
                  padding: 1.2em 1.5em;
                  border: none;
                  text-transform: UPPERCASE;
                  font-weight: bold;
                  color: #fff;
                  -webkit-transition: background .3s ease;
                          transition: background .3s ease; }
                  .add-to-cart:hover, .like:hover {
                    background: #b36800;
                    color: #fff; }

                .not-available {
                  text-align: center;
                  line-height: 2em; }
                  .not-available:before {
                    font-family: fontawesome;
                    content: "\f00d";
                    color: #fff; }

                .orange {
                  background: #ff9f1a; }

                .green {
                  background: #85ad00; }

                .blue {
                  background: #0076ad; }

                .tooltip-inner {
                  padding: 1.3em; }

                @-webkit-keyframes opacity {
                  0% {
                    opacity: 0;
                    -webkit-transform: scale(3);
                            transform: scale(3); }
                  100% {
                    opacity: 1;
                    -webkit-transform: scale(1);
                            transform: scale(1); } }

                @keyframes opacity {
                  0% {
                    opacity: 0;
                    -webkit-transform: scale(3);
                            transform: scale(3); }
                  100% {
                    opacity: 1;
                    -webkit-transform: scale(1);
                            transform: scale(1); } }

                       .checked, .price span {
                            color: black;
                        } 
                        @media only screen and (max-device-width: 480px) {
                            #dialogpopupdetails{
                                top:0px !important;
                                /*position:fixed !important;
                                margin-left:-80% !important;*/
                               /* position:fixed !important;*/
                            }
                        } 




