table.dataTable tbody tr {
    line-height: 2px !important;
    font-size:12px;

       overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dataTables_wrapper .dataTables_paginate {
    padding-top: 2.25em !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button { 
    margin-left: 2px !important;   
    padding: 0.2em 0.05em !important;
}



  #persontable tbody tr.even:hover,  #persontable tbody tr.even td.highlighted {
        background-color: #D73925;
        color:white;        
    }

   #persontable tbody tr.odd:hover,  #persontable tbody tr.odd td.highlighted {
          background-color: #D73925;
        color:white;
    }

    #persontable tr.even:hover {
          background-color: #D73925;
        color:white;
    }

    #persontable tr.even:hover td.sorting_1 {
         background-color: #D73925;
        color:white;
    }

    #persontable tr.even:hover td.sorting_2 {
          background-color: #D73925;
        color:white;
    }

    #persontable tr.even:hover td.sorting_3 {
          background-color: #D73925;
        color:white;
    }

    #persontable tr.odd:hover {
          background-color: #D73925;
        color:white;
    }

    #persontable tr.odd:hover td.sorting_1 {
          background-color: #D73925;
        color:white;
    }

    #persontable tr.odd:hover td.sorting_2 {
          background-color: #D73925;
        color:white;
    }

    #persontable tr.odd:hover td.sorting_3 {
          background-color: #D73925;
        color:white;
    }

  .cdataTable tbody tr.even:hover,  .cdataTable tbody tr.even td.highlighted {
        background-color: #D73925;
        color:white;        
    }

.cdataTable tbody tr.odd:hover,  .cdataTable tbody tr.odd td.highlighted {
          background-color: #D73925;
        color:white;
    }

  .cdataTable tr.even:hover {
          background-color: #D73925;
        color:white;
    }

 .cdataTable tr.even:hover td.sorting_1 {
         background-color: #D73925;
        color:white;
    }

 .cdataTable tr.even:hover td.sorting_2 {
          background-color: #D73925;
        color:white;
    }
.cdataTable tr.even:hover td.sorting_3 {
          background-color: #D73925;
        color:white;
    }

.cdataTable tr.odd:hover {
          background-color: #D73925;
        color:white;
    }

.cdataTable tr.odd:hover td.sorting_1 {
          background-color: #D73925;
        color:white;
    }

.cdataTable tr.odd:hover td.sorting_2 {
          background-color: #D73925;
        color:white;
    }

.cdataTable tr.odd:hover td.sorting_3 {
          background-color: #D73925;
        color:white;
    }

.content-wrapper, .right-side {
    background-color: #A8CEE2 !important;
}



/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr { 
    display: block; 
  }
  
  /* Hide table headers (but not display: none;, for accessibility) */
    .cdataTable thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  
    .cdataTable tr { border: 1px solid #ccc; }
  
   .cdataTable td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%; 
  }
  
    .cdataTable td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
  }
  
  /*
  Label the data
  */

}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr { 
    display: block; 
  }
  
  /* Hide table headers (but not display: none;, for accessibility) */
  #persontable  thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  
   #persontable  tr { border: 1px solid #ccc; }
  
  #persontable  td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%; 
  }
  
   #persontable  td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
  }
  
  /*
  Label the data
  */

}




    .numericCol{
  float:right;
}

.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
    background-color: #16a9ef !important; 
}

.skin-blue .sidebar-menu > li.header {
    background: #3C8DBC !important;
}


.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a {
    background: #00A65A !important; 
}

.skin-blue .main-header .navbar {
    background-color: #16A9EF !important;
}

#checkdrugtable > tbody > tr {
line-height: 10px !important; background-color:#DFF0D8;
color : #16A9EF;
font-size: 10px;

}
#assigneddrugtable > tbody > tr{
line-height: 10px !important; background-color: #DFF0D8; 
color : #16A9EF;
font-size: 10px;
}
#checkdrugtable_length > label {
    visibility: visible;
    font-size: 0.6em;
}
#checkdrugtable_filter > label {
    font-size: 0.6em;
}
#assigneddrugtable_filter > label {
   font-size: 0.6em;
}
.form-control.input-sm {
    font-size: 1.1em;
    /*height: 25px;*/
}
.dataTables_processing {
    background-color: red !important;
}
/*
table { 
  width: 100%; 
  border-collapse: collapse; 
}

tr:nth-of-type(odd) { 
  background: #eee; 
}
th { 
  background: #333; 
  color: white; 
  font-weight: bold; 
}
td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
}
th {
    background-color: transparent !important;
    color: black !important;
}*/